<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.member.dao.mapper.MemberMapper">
	<resultMap id="memberMap" type="emt.emt.common.domain.User">
		<result property="userId" column="user_id"/>
		<result property="userPw" column="user_pw"/>
		<result property="email" column="email"/>
		<result property="userDate" column="user_date"/>
	</resultMap>
	
	<select id="memberList" resultMap="memberMap">
		select user_id userId, email, user_date userDate
		from users
	</select>
	<select id="memberView" resultType="emt.emt.common.domain.User">
	select user_id userId, user_pw userPw, email, user_date userDate
	from users
	where user_id=#{userId}
	</select>
	
	<update id="memberUpdate" parameterType="emt.emt.common.domain.User">
		update users set user_pw=#{userPw}, email=#{email} where user_id=#{userId}
	</update>
	

</mapper>