<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.member.dao.mapper.MemberMapper">
	<resultMap id="memberMap" type="emt.emt.common.domain.User">
		<result property="userId" column="user_id"/>
		<result property="userPw" column="user_pw"/>
		<result property="email" column="email"/>
	</resultMap>
	
	<select id="memberList" resultMap="memberMap">
		select user_id userId, email
		from users
	</select>
	
	

</mapper>