<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.notice.dao.mapper.NoticeMapper">
	<resultMap id="noticeMap" type="emt.emt.common.domain.Notice">
		<result property="noticeNo" column="notice_no"/>
		<result property="boardNo" column="board_no"/>

	</resultMap>
	
	<select id="noticeList" parameterType="int" resultMap="noticeMap">
		<![CDATA[
		SELECT notice_no noticeNo, board_no boardNo
		FROM (SELECT rownum AS rnum, M.* 
			  FROM (
			  		SELECT * 
					FROM notice 
					ORDER BY notice_no DESC
			  		) M 
			  WHERE rownum  < = 7*#{noticeCount})
		WHERE rnum > 7*(#{noticeCount}-1)
		]]>
	</select>

	<select id="noticeCount" resultType="int">
		<![CDATA[
		SELECT COUNT(*) 
		FROM notice
		]]>		
	</select>
	

	

</mapper>