<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.part.dao.mapper.PartMapper">
	<resultMap id="partMap" type="emt.emt.common.domain.Question">
		<result property="testNo" column="test_no"/> 
		<result property="testContent" column="test_content"/> 
		<result property="testType" column="test_type"/> 
		<result property="testMp3" column="test_mp3"/> 
		<result property="testImg" column="test_img"/> 
	</resultMap>
	
	<select id="partAll" parameterType="emt.emt.common.domain.Question" resultMap="partMap">
	
		select test_no testNo, test_content testContent, test_type testType, test_mp3 testMp3, test_img testImg 
		from question where test_type=#{testType}
		
	</select>
	
</mapper>





