<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.part.dao.mapper.PartMapper">
	<resultMap id="partMap" type="emt.emt.common.domain.Question">
		<result property="questionNo" column="question_no"/> 
		<result property="questionType" column="question_type"/> 
		<result property="questionVideo" column="question_video"/> 
	</resultMap>
	
	<select id="partQuestion" parameterType="emt.emt.common.domain.Question" resultMap="partMap">
		
		select question_no questionNo, question_type questionType, question_video questionVideo
		from question
		where question_type=#{questionType}
		order by question_no
	</select>
	
</mapper>





