<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.question.dao.mapper.QuestionMapper">
	<resultMap id="questionMap" type="emt.emt.common.domain.Question">
		<result property="questionNo" column="question_no" />
		<result property="questionType" column="question_type" />
		<result property="questionVideo" column="question_video" />
	</resultMap>

	<select id="questionList" parameterType="int" resultMap="questionMap">
		<![CDATA[
		SELECT question_no questionNo, question_type questionType, question_video questionVideo
		FROM (SELECT rownum AS rnum, M.* 
			  FROM (
			  		SELECT * 
					FROM question 
					ORDER BY question_no DESC
			  		) M 
			  WHERE rownum  < = 7*#{questionCount})
		WHERE rnum > 7*(#{questionCount}-1)
		]]>
	</select>


	<select id="questionCount" resultType="int">
		<![CDATA[
		SELECT COUNT(*) 
		FROM question
		]]>
	</select>

</mapper>