<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="emt.emt.wrong.dao.mapper.WrongMapper">
	<resultMap id="wrongMap" type="emt.emt.common.domain.Wrong">
		<result property="myNo" column="my_no"/>
		<result property="myCode" column="my_code"/>
		<result property="userId" column="user_id"/>
	</resultMap>
	
	<select id="wrongList" parameterType="emt.emt.common.domain.Wrong" resultMap="wrongMap"> 
	SELECT * FROM wrong WHERE user_id=#{userId} 
	</select>
	
	

</mapper>












